/* Popup.css */

body, html {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
}
.logincenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 50px 100px;
    border-radius: 20px;
}
.logincenter h1{
    color: white;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575); /* Darken the background */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
}

.popup-content {
    position: relative;
    background-image: url("https://i.pinimg.com/564x/d4/64/ad/d464adbfb04dc311114b0970507bd158.jpg");
    padding: 80px 250px;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 100%;
}

.popup-delete{
    position: relative;
    background-color: #F7F7F7;
    padding: 80px 250px;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 100%;
}

.close-button{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 27px;
    border-radius: 20px;
    border: none;
}

.close-button:hover {
    background-color: black;
    color: white;
}

.trends{
    width: 200px !important;
}
.trends label{
    margin-right: 20px; 
    
}

.loginparent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginparent h2{
    font-size: 25px;
    font-weight: 600;
    color:white;
}
.loginchild label{
    font-size: 20px;
    font-weight: 600;
    color:white
}
.loginchild input{
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.loginchild button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.trends button{
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 190px;
    background-color: #29639B !important;
}

.trends button:hover{
    background: linear-gradient(135deg, black, #191970) !important;
}

.logout-parent{
    width: 500px;
    margin-left: 0px;
}

.delete-parent{
    width: 500px;
    margin-left: 0px;
}
.delete-parent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -25%);
}
.no-scroll {
    overflow: hidden;
  }
.delete-parent h1{
    font-size: 20px;
    color: #4169E1;
}

.delete-parent button
{
    background-color: #2ECC71;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: 40px;

}
.delete-parent button:hover{
    background-color: #27AE60;
}